/* ===== Reset e Configurações Globais ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ===== Variáveis Globais ===== */
:root {
    /* Cores */
    --color-primary: #000;
    --color-secondary: #fff;
    --color-accent: #b95555;
    --color-hover: #1b1b1b83;
    --color-background: #e6e6e6;
    --color-background-card: #dddbdb;
    --color-dark-overlay: #302f2f8e;

    /* Tamanhos de fonte */
    --font-size-base: 1rem;
    --font-size-small: 0.8rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.6rem;
    --font-size-xl: 2rem;

    /* Espaçamento */
    --gap-small: 20px;
    --gap-medium: 20px;
    --gap-large: 80px;
    --padding-small: 4px;
    --padding-medium: 10px;
    --padding-large: 20px;
    --padding-xl: 40px;

    /* Bordas */
    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-large: 100px;

    /* Alturas */
    --navbar-height: 80px;
    --hero-height: 60vh;

    /* Outros */
    --transition-default: all 0.3s ease;

    /* sombras */
    --sombra-suave: 0 1px 15px #777474;
}

/* ===== Início Container ===== */
.container {
    background-color: var(--color-background);
    height: 100%;
    overflow-x: hidden;
}
/* ===== Fim Container ===== */

/* ===== Início Navbar ===== */
.navbar {
    background-color: var(--color-primary);
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-xl);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    gap: var(--gap-medium);
    transition: var(--transition-default);
}

.navbar:hover {
    background-color: var(--color-hover);
}

.content-main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: var(--gap-medium);
}

.logo {
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 600;
}
.logo span {
    color: var(--color-accent);
}

.content-buscar {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    border-radius: var(--border-radius-medium);
    padding: 0 var(--padding-small);
}

.input-nav {
    border: none;
    padding: var(--padding-medium) var(--padding-small);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-base);
}

.btn {
    display: flex;
    align-items: center;
    height: 80%;
    padding: var(--padding-medium);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: var(--border-radius-medium);
    transition: var(--transition-default);
}

.links-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.links-nav,
a {
    list-style: none;
    text-decoration: none;
    color: var(--color-secondary);
    font-size: var(--font-size-medium);
    font-weight: 600;
    transition: var(--transition-default);
}

.links-nav .nav-icons,
a:hover {
    border-bottom: 2px solid var(--color-secondary);
}

.nav-icons {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.nav-icons a {
    font-size: var(--font-size-xl);
}

.contando {
    display: flex;
    gap: 1px;
}

.conta-carrinho {
    font-size: var(--font-size-medium);
    margin-top: -10px;
}

.modal-carrinho{
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 600px;
    max-height: 400px;
    overflow-y: scroll;
    margin-top: 400px;
    border-radius: var(--border-radius-medium);
    background: #fff;
    padding: 10px;
    position:absolute;
    z-index: 0;
    display: none;

}

.item-carrinho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-radius: var(--border-radius-medium); */
    width: 90%;
    min-height: 100px;
    /* background: #d4d4d4; */
    border-bottom:solid 1px var(--color-primary) ;
}

.item-carrinho img{
    width: 60px;
    border-radius: var(--border-radius-medium);
}

.total-modal-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

/* este estilo é de um botão que será reutilizado em varios locais */
.btn-vermelho{
    padding: 7px;
    background-color: var(--color-accent);
    border-radius: var(--border-radius-medium);
    border: none;
    box-shadow: var(--sombra-suave);
    font-size: 1rem;
    font-weight: 500;

}

.btn-fechar-carrinho{
    background: transparent;
    border: solid 2px var(--color-accent);
}

/* ===== Fim Navbar ===== */

/* ===== Início Hero ===== */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: var(--hero-height);
    background-image: url(../images/fone-rosa-fundo-escuro.jpg);
    background-position: center;
    padding: var(--padding-medium);
}

.hero-content {
    display: flex;
    height: 50vh;
    color: var(--color-secondary);
}

.texto-hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: var(--padding-medium);
}

.texto-esquerdo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--color-secondary);
    gap: var(--gap-large);
}

.texto-esquerdo h2 {
    font-size: var(--font-size-xl);
}

.texto-esquerdo a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: var(--font-size-medium);
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-small);
    padding: var(--padding-medium);
    margin-top: var(--padding-medium);
    max-width: 300px;
    min-width: 150px;
    transition: var(--transition-default);
}

.texto-esquerdo a {
    background-color: var(--color-dark-overlay);
}

.btn-cta:hover {
    background-color: var(--color-accent);
}

.texto-direito {
    display: flex;
    text-align: center;
    align-items: start;
    width: 30vw;
    height: 70%;
}

.texto-direito p {
    font-size: var(--font-size-large);
    font-weight: 500;
}

.texto-direito a:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
/* ===== Fim Hero ===== */

/* ===== Início Destaques ===== */
.destaques {
    padding: var(--padding-large);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.barra-de-progresso {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #007bff;
    width: 0%;
    transition: width 0.2s;
    z-index: 10; 
}

.cards-destaques {
    display: flex;
    overflow-x: auto;
    gap: var(--gap-small);
    width: 100vw;
    height: 100%;
}

.itens-destaques {
    display: flex;
    justify-content: center;
    padding: var(--padding-large);
    height: 100%;
    gap: 30px;
}

.card {
    min-width: 100px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: var(--border-radius-large);
}
/* ===== Fim Destaques ===== */

/* ===== Início novidades ===== */
.novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px;
    gap: 20px;
}

h3 {
    font-size: var(--font-size-xl);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 30px;
    border-radius: var(--border-radius-medium);
    color: var(--color-secondary);
}

.itens-novidades {
    display: flex;
    gap: 20px;
}

.card-novidades {
    border-radius: 10px;
    display: flex;
    gap: var(--gap-small);
    padding: 0 0 20px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-card);
    transition: box-shadow 0.4s ease;
    flex: 1 1 calc(16% - 20px);
}

.card-novidades:hover {
    box-shadow: var(--sombra-suave);
}

.card-novidades img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.itens-novidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* ===== Fim novidades ===== */

/* ofertas */

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.itens-ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card-ofertas img {
    width: 100%;
    border-radius: var(--border-radius-medium);
}

.card-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-card);
    justify-content: center;
    padding: var(--padding-small);
    gap: 20px;
    transition: box-shadow 0.4s ease;
    flex: 1 1 calc(20% - 20px);

    border-radius: var(--border-radius-medium);
}

.card-ofertas:hover {
    box-shadow: var(--sombra-suave);
}

.preco-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.preco-carrinho h4 {
    font-size: 1.5rem;
}

.card-ofertas p {
    font-size: 1rem;
}

.cart-button {
    font-size: 2rem;
    width: 50px;
    border-radius: var(--border-radius-medium);
    background: none;
    cursor: pointer;
}

.aval {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 10px;
    border-radius: var(--border-radius-small);
    padding: var(--border-radius-small);
}

.itens-aval {
    display: flex;
    gap: 10px;
    border: solid 1px var(--color-accent);
    width: 90px;
    font-size: 1.5rem;
    padding: var(--border-radius-small);
    border-radius: var(--border-radius-small);
}

.itens-aval p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* estrela */
.itens-aval i {
    color: #f78d04;
}

footer {
    background-color: #e0e0e0;
    margin-top: 100px;
    padding: 20px;
    width: 100vw;
}

.itens-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.sobre {
    width: 180px;
}
.atendimento {
    width: 230px;
}

.atendimento a {
    color: var(--color-primary);
    font-size: 0.8rem;
    border: none;
}

.atendimneto a:hover {
    border: none;
    text-decoration: underline;
}

.sobre,
.atendimento,
.baixar-app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 5px;
}


.baixar-app .logo{
    color: var(--color-primary);
   
} 

.icons-baixar{
    display: flex;
    flex-direction: column;
}

.icons-baixar  a{
    color: var(--color-primary);
    border: none;
}

.icons-baixar i{
    font-size: 2rem;
}


li {
    list-style: none;
}

.sobre a {
    color: var(--color-primary);
    font-size: 0.8rem;
    border: none;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
   
}

form input{
    padding: 8px;
    border-radius: var(--border-radius-medium);
    border: none;
    outline: none;
}

form input:focus{
    border: solid 1px var(--color-accent);
}



/* ===== Início Media Queries ===== */

@media (min-width: 996px) {
    .content-buscar {
        width: 40vw;
    }
}

@media (max-width: 1200px) {
    .card-ofertas {
        flex: 1 1 calc(25% - 20px);
    }

    .card-novidades {
        flex: 1 1 calc(25% - 20px);
    }
}
@media (max-width: 996px) {
    .content-main-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--gap-small);
        margin-top: 40px;
        margin-top: 0;
    }
    .content-buscar {
        width: 50%;
    }

    .navbar {
        gap: var(--gap-small);
        height: 150px;
    }

    .logo {
        width: 15%;
    }

    .links-nav {
        justify-content: space-around;
        width: 100%;
    }

    .links-nav a {
        font-size: var(--font-size-base);
    }

    .texto-hero {
        /* justify-content: center; */
        gap: var(--gap-large);
    }

    .texto-esquerdo {
        gap: var(--gap-medium);
        width: 200px;
    }

    .card-novidades {
        flex: 1 1 calc(33.33% - 20px);
    }

    .card-ofertas {
        flex: 1 1 calc(33.33% - 20px);
    }


   .itens-footer{
    flex: 1 1 calc(50% - 20px);
    justify-content: center;
    gap: 8px;
   
    }
}


@media (max-width: 768px) {
    .navbar {
        justify-content: space-around;
        gap: var(--gap-small);
    }

    .nav-icons {
        width: 15%;
    }

    a i {
        font-size: var(--font-size-medium);
    }

    .content-buscar {
        width: 60vw;
    }

    .texto-esquerdo a {
        font-size: var(--font-size-small);
    }

    .texto-direito p {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .content-main-nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100%;
    }

    .links-nav {
        width: 100%;
        justify-content: space-between;
        font-size: var(--font-size-small);
    }

    .navbar {
        align-items: start;
        padding: 0 20px;
        gap: 0;
    }

    .nav-icons {
        gap: 10px;
    }

    .texto-hero {
        height: 100%;
        gap: var(--gap-small);
    }

    .texto-esquerdo {
        height: 40px;
    }

    .texto-esquerdo h2 {
        font-size: 1.6rem;
    }

    .texto-esquerdo a {
        font-size: var(--font-size-small);
    }

    .texto-direito {
        width: 100%;
        height: 300px;
        align-items: center;
    }

    .card-novidades {
        flex: 1 1 calc(33.33% - 20px);
    }

    .card-ofertas {
        width: 25%;
        flex: 1 1 calc(50% - 20px);
    }

    .card-ofertas .preco,
    .cart-button {
        font-size: 1.3rem;
        width: 20%;
    }

    .baixar-app, .atendimento, .sobre{
        width: 300px;
    }

    .baixar-app .logo{
        width: 100%;
    }
}
/* ===== Fim Media Queries ===== */
