* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* variáveis */
:root {
    --color-primary: #000;
    --cor-hoover: #cbe2ff00;
    --color-primary-texto: #ffffff;
    --color-secundary-dark: #205091;
}

.container {
    background-color: #dddcdc;
    height: 100vh;
}

.navbar {
    height: 80px;
    /* background-color: var(--color-primary); */
    /* border-bottom: solid 1px var(--color-primary-texto); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    gap: 20px;
}

.content-main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar:hover {
    background-color: var(--cor-hoover);
}
.navbar:hover a {
    color: var(--color-primary-texto);
}

.logo {
    color: var(--color-primary-texto);
    width: auto;
}

.content-buscar {
    background-color: var(--color-primary-texto);
    display: flex;
    align-items: center;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    padding: 0 4px ;
}

.input-nav {
    border: none;
    padding: 20px 10px;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    font-size: 1rem;
    /* outline: none; */
}

.btn {
    display: flex;
    align-items: center;
    height: 80%;
    padding: 10px;
    /* border: none; */
    background-color: #000;
    color: var(--color-primary-texto);
    cursor: pointer;
    border-radius: 10px;
}


.links-nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    /* background-color: #161616; */
}

.links-nav li,
a {
    list-style: none;
    text-decoration: none;
    color: var(--color-primary-texto);
    font-size: 1.2rem;
    font-weight: 600;
}
.links-nav a:hover {
    border-bottom: 2px solid var(--color-primary-texto);
}

.nav-icons {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav-icons a {
    font-size: 2rem;
}

.contando{
    display: flex;
    gap: 1px;
}

.conta-carrinho{
   font-size: 1.2rem;
   margin-top: -10px;
  
}

/* fim nav */

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-image: url(../images/fone-rosa-fundo-escuro.jpg);
    /* background-size: cover; */
    background-position: center;
    padding: 10px 10px;
}

.hero-content {
    display: flex;
    height: 50vh;
    /* margin-top: 80px; */
    color: #fff;
}

.texto-hero {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}

.texto-direito {
    display: flex;
    text-align: center;
    align-items: start;
    width: 30vw;
    height: 80%;
}


.texto-esquerdo {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: center; */
    color: #fff;
    gap: 80px;
   
}

.texto-esquerdo h2 {
    font-size: 2rem;
}

.btn-cta:hover{
    background-color: #b95555;
    /* color: #000; */

}
.texto-direito p {
    font-size: 1.6rem;
    font-weight: 500;
    /* text-align: center; */
  
   
}

.texto-esquerdo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    
    font-weight: 600;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    min-width: 150px;
}

.texto-direito a:hover {
    background-color: #fff;
    color: #000;
}

.texto-esquerdo {
    width: 25%;
    height: 100%;
}

/*  */

.destaques {
    padding: 20px;
}

.cards-destaques {
    /* background-color: #77aff3; */
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* para esconder a bara de rolagem */
.cards-destaques::-webkit-scrollbar {
    display: none;
}

.itens-destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    gap: 10%;
}

img {
    width: 10vw;
    border-radius: 80px;
}

.card {
    width: 10vw;
    text-align: center;
}
/* 
@media (max-width: 762px) {
    .itens-destaques{
        display: grid;
        gap: 1.3rem;
        grid-template-columns: 1fr 1fr 1fr;
        }
        } */

@media (max-width: 996px) {
    .content-buscar {
       width: 40%;
    }
    .nav-icons {
        /* width: 0%; */
    }
    .logo {
        width: 20%;
    }

    .links-nav a{
        font-size: 1rem;
    }

    .texto-hero{
        justify-content: center;
        gap: 80px;
    }
    .texto-esquerdo{
        gap: 30px;
    }

    .texto-esquerdo a{
      background-color: #302f2f8e;
    }
}

@media (max-width: 768px) {
    .navbar {
        /* flex-direction: column; */
        justify-content: space-around;
        height: 100px;
        gap: 3px;
    }

    .content-main-nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-icons{
        width: 15%;
    }

    a i{
        font-size: 1.5rem;
    }

    .content-buscar{
        width: 50%;
    }

   
    .texto-esquerdo a{
        font-size: 1rem;
        /* width: 150%; */
    }

    /* .texto-esquerdo h2{
        font-size: 2rem;
    } */
}

@media (max-width: 480px) {

    /* .navbar{
        height: 100px;
        gap: 3px;
    } */

    .content-main-nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 100%;
    }

    .links-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 0.6rem;
        
    }

    .content-buscar{
        width: 100%;
      
       
    }

    .navbar{
        align-items: start;
    }

    .nav-icons{
        height: 100%;
        align-items: center;
       
    }

    .texto-hero{
       
        height: 100%;
        gap: 1px;
    }
    
    .texto-esquerdo{
       height: 40px;
    }

    .texto-esquerdo h2{
       display: none;
    }

    .texto-esquerdo a{
        font-size: 0.8rem;
      
    }

    .texto-direito{
        width: 100%;
        height: 400px;
        align-items: center;
    }

    .texto-direito p{
        width: 300px;
    }
}
